.container{
    display: flex;
    flex-direction: column;
}
.container__left,
.container__right{
    flex: 1;
}
.container__left,
.descrip__wrapper > title{
    text-align: center;
}
.descrip{
    justify-content:center;
}
.left_wrapper{
    padding: 2rem;
    display: flex;
    flex-direction: column;
}
.left_wrapper > h2 {
    color:rgb(86, 35, 137);
}
.descrip{
    height: 3.125rem;
    overflow: hidden;
}
    .descrip__wrapper{
        height: 100%;
        animation: move 10s ease-in-out infinite alternate;
    }
    @keyframes move {
        25%{
            transform: translateY(-3.125rem);
        }
        50%{
            transform: translateY(-6.2rem);
        }
        75%{
            transform: translateY(-9.3rem);
        }
        100%{
            transform: translateY(-12.4rem);
        }
    }
.title{
    height: 3.125rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(86, 35, 137);
    display: flex;
    align-items: center;
}
.left__btn{
    margin: 1.5rem 1rem 0 0;
    background: #702963;
    margin-left: 1rem;
    border-radius: 0.5rem;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    }
        .left__btn:hover{
        cursor: pointer;
        background:#f072d9;
        transition: all 0.3s ease 0;
        }
/* left side of about section */
.selfie{
    border-radius: 4rem;
    margin: 0 auto;
    width: 100%;
    
}
a{
    text-decoration: none;
    color: white;
}

/* mobile media queries
@media only screen 
and (min-width: 100px)
and (max-width: 700px)
and (-webkit-min-device-pixel-ratio: 2){
    .container {
        display:flex
    }
} */
/*desktop media queries*/
@media only screen 
and (min-width: 700px)
and (-webkit-min-device-pixel-ratio: 2){
    .container__right,
    .container__left {
        background-color: blue;
        flex-direction: row;
    }
}