
.container{
    display: flex;
    height: 100vh;
    background-color: whitesmoke;
    padding: 10rem auto;
}
.container__left,
.container__right{
    flex: 1;
}
.left_wrapper{
    padding: 2rem;
    display: flex;
    flex-direction: column;
}
.left_wrapper > h2 {
    font-size: 4rem;
    color:rgb(86, 35, 137);
}


.descrip{
    height: 3.125rem;
    overflow: hidden;
}
    .descrip__wrapper{
        height: 100%;
        animation: move 10s ease-in-out infinite alternate;
    }
    @keyframes move {
        25%{
            transform: translateY(-3.125rem);
        }
        50%{
            transform: translateY(-6.2rem);
        }
        75%{
            transform: translateY(-9.3rem);
        }
        100%{
            transform: translateY(-12.4rem);
        }
    }
.title{
    height: 3.125rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(86, 35, 137);
    display: flex;
    align-items: center;
}
.left__btn{
    margin: 1.5rem 4rem;
    background: #702963;
    margin-left: 0.5rem;
    border-radius: 0.5rem;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    }
        .left__btn:hover{
        cursor: pointer;
        background:#bb44a6;
        transition: all 0.3s ease 0;
        }
/* left side of about section */
.selfie{
    border-radius: 4rem;
    margin: 6rem 0 0 1rem;
    height: 80%;
    width: 90%;
    object-fit: cover;
    
}
a{
    text-decoration: none;
    color: white;
}
@media only screen 
and (min-width: 100px)
and (max-width: 700px)
and (-webkit-min-device-pixel-ratio: 2){
    .container {
        background-color: red;
    }
}